.App {
  text-align: center;
  background-color: #f3f3f3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  font-size: calc(7px + 2vmin);
  color: #282c34;

}

.App-link {
  color: #61dafb;
  padding: 10px;
}
span{
  display: inline-block;
  padding: 2%;
  margin: 2%;
  
}
.App-aboutme{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.App-img-profile {
  border-radius: 10%;
  width: 35%;
  height: 35%;
  display: block;
  margin-right: 5%;
  margin-top: 2.5%;
  

}
.App-h2-profile {
  display: block;
  justify-content: center;
}
.App-current{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.Index-footer {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: #282c34;

}
.Index-logo {
  width: 10%;
}
.FA-clickable{
--fa-animation-delay: 8s;
--fa-animation-timing: ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(min-width: 1370px){
  .App-body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .App-img-profile {
    width: 25%;
    height: 25%;
    display: block;
    float: left;
  
  }
  .App-skillset{
    display: block;
    justify-content: center;
  }
  .deployed-card{
    width: 40%;
  }

}

@media (min-width: 950px) and (max-width: 1370px){
  .App-body{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .App-img-profile {
    width: 25%;
    height: 25%;
    display: block;
    float: left;
  
  }

  .deployed-card{
    width: 60%;
  }

} 
@media (min-width: 500px) and (max-width: 950px){
  .App-body{
    margin: 15px;
    padding: 15px;
  }
  .App-img-profile{
    margin-right: 10px;
  }
  .App-current{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .deployed-card{
    width: 75%;
  }

}
@media (max-width: 500px) {
  .App-body{
    margin: 5px;
    padding: 5px;
  }
  .App-current{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .deployed-card{
    width: 75%;
  }
  .App-img-profile{
    margin-top: 7.5%;
  }


}